html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(90deg, #202E4A, #0F1722);
}
p {
  font-family: Noto Sans KR;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
